name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - compiler: gcc-12
            cc: gcc-12
            cxx: g++-12
          - compiler: gcc-13
            cc: gcc-13
            cxx: g++-13
          - compiler: clang-16
            cc: clang-16
            cxx: clang++-16
          - compiler: clang-17
            cc: clang-17
            cxx: clang++-17
          - compiler: clang-18
            cc: clang-18
            cxx: clang++-18

    name: ${{ matrix.compiler }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Ninja
        run: sudo apt-get install -y ninja-build

      - name: Configure
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        run: >
          cmake -B build
          -G "Ninja Multi-Config"
          -DCMAKE_CXX_FLAGS="-Wall -Wextra -pedantic -Werror"
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
          -Dnlohmann_json_FORCE_DOWNLOAD=ON
          -Dnlohmann_json_GIT_TAG=v3.10.0

      - name: Build
        run: cmake --build build --config Debug

      - name: Test
        run: ctest --test-dir build --build-config Debug --output-on-failure
